*{
    margin: 0%;
   padding: 0%;
 
}


nav{

   background-color: rgb(255, 255, 255);
   opacity:0.9;

   height: 82px;

}

#running_tag{
   
   border:solid;
   background-color:white ;
   color: black;
   margin-left:145px;
   width:565px;
   height:45px;
   border-width: 1px;
   text-shadow: 444px 434px ;
   
   padding-top:24px;
   text-align: centre;

   margin-bottom:32px;
}

#home_back_image{

   
       width:85px;
       height:75px;
   
       margin-top:3px;
       margin-left:37px;
       margin-bottom:27px;
   
}

#running_tag:hover{
   background-color: black;
   color: white;
}

#span_a:hover{
   background-color: black;
   color:white;
   
}

body{

   
   background-image: url("images/display.jpg");
   background-attachment:fixed;
 
   background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
     z-index: -1px;
   background-size:cover;

}



.same{
   
   margin-left:329px;
   margin-top: 92px;
}

#running_tagg{
   
   border:solid;
   background-color:white ;
   color: black;
   
   width:598px;
   height:45.0px;
   border-width: 1px;
   
   padding-left: 6px;
   font-size: 19.8px;
    
   margin-bottom:216px;
   border-radius: 2px;
  
   margin-right:16px;
}


#button{
   width:25%;
   height:6.1vh;
   margin-right:35px;
   margin-left:0px;
   
   font-size:16px;
   color:black;
}

#button:hover{  
   background-color:black;
   color:white;
   border-radius: 2px;
   /* font-size: 18px; */
}
#button:active{ 
   font-size: 13px;
   background-color:#B3E8FF;
   border-radius: 2px;
   transition: 0.5s;
   
} 

.main{
    margin-left:8%;
    margin-right:8%;
  
    margin-top:16.8%;

    background-color:whitesmoke;
    opacity: 0.9;
}

table{
    width:100%;
  
    height:100%;
    background-color:rgb(255, 255, 255);
   
    
}

.t_head{
    background-color:black;
    color:white;  
 
     margin:0% 19% 3% 0%;
    margin-left:1%;
    height:11vh; 
   font-size:20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

    
}



.srno1{

  
   height:48px;
   font-size: 21px;
   border-bottom:2px solid  rgb(224, 225, 227);
   width:8.70%;
   text-align: center;

   color: red;
   
}

.name1{

   
   height:48px;
   font-size: 21px;
   border-bottom:2px solid  rgb(224, 225, 227);
   width:64.05%;
   text-align: center;
   
}

.action1{

  
   height:48px;
   
   border-bottom:2px solid rgb(224, 225, 227);
   width:70.6%;

   padding-left: 29px;

   
   
}

.action2{
   margin:6px 13px 6px 13px;
   width: 110px;
   height:7vh;
   font-size: 16px;
   
}

.deleted{
   background-color: red;
   border-color: red;

   color: white;
   border-radius: 2px;
   box-shadow: 5px 5px 10px rgb(27, 27, 27);
}

.updated{
   background-color: #00FF00;
   border-color:  #00FF00;
   color: white;
   border-radius: 2px;
   box-shadow: 5px 5px 10px rgb(27, 27, 27);

}
   

.deleted:hover{  
   background-color:black;
   color:white;
   border-radius: 4px;
 
   transition: 0.5s;
}

.deleted:active{ 
   font-size: 14px;
   background-color:#B3E8FF;
   border-radius: 4px;
   transition: 0.5s;
   
} 

.updated:hover{  
   background-color:black;
   color:white;
   border-radius: 4px;

   transition: 0.5s;
}
.updated:active{ 
   font-size: 14px;
   background-color:#B3E8FF;
   border-radius: 4px;
   transition: 0.5s;
   
} 


.row:hover{
   background-color:rgb(255, 216, 216);;
   color:black;

}

/* .row{

   width : 100px 
   

} */
.input_tag{

   border: none;
   

   background-color:white;

   width: 100%;
   text-align: center;
   height:5vh;
   font-size: 1.4rem;
   
}


.row1{
   border-color: white;
   
}


@media  (min-width:960px) and (max-width:1360px)
{
   
   

    .same{
        margin-left: 244px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    #running_tagg{
    

        
        width:438px;
        height:39px;
        border-width: 1px;
    
        padding-left: 6px;
        font-size: 16px;
    
        border-radius: 1.5px;
       
        margin-right:13px;
        
    }

    #button{
        width:230px;
        height:39px;
    
        margin-left:2px;
        
        font-size:13px;
        color:black;
    }

   
   


}



@media  (min-width:314px) and (max-width:500px)
{

   body{
      width:100%;
   }

   header{
      width: 100%;
   }
    nav{
        width:fit-content; 
         margin-right: 0px;
    }

    #running_tag{
      display: none;
    }
  
    
    
    *{
        margin: 0px;
        padding: 0px;
     
        margin-left: 0px;
    }

    .same{
      position: relative;
     
      width: fit-content;
      margin-left:9px;
      margin-top: 12px;
     
    }

  #running_tagg{

   /* display: none; */
  
     position: absolute;
     
      width:304px;
      height:39px;
      border-width: 1px;
  
      padding-left: 6px;
      font-size: 10px;
  
      border-radius: 1.5px;
      margin-left:2px;
     
      margin-right:13px;
      
  }

  #button{
      width:50px;
      height:39px;
  
      margin-left:318px;
      
      font-size:11px;
      color:white;
      background-color: red;
      border: none;
      border-radius: 3px;
      font-size: 20px;

  }

  table{
   width: 380px;
   /* margin: auto; */
   margin-left: -19px;
   /* margin-right: 5px; */
  }

  #table1 {
   
   margin-top:124px;
   
   
   
}

  #table1 tr{
   
     
     font-size: 13px;
     height: 8vh;
  }

  
.srno1{

  
   height:37px;
   font-size: 13px;
   border-bottom:2px solid  rgb(224, 225, 227);
   
   /* text-align: center; */
  /* background-color: #00FF00; */
   color: red;
 

   width:16px;
   
   
}

.name1{

   /* background-color: #cadeca; */

   /* display: none; */
   height:27px;
   font-size: 13px;
   border-bottom:2px solid  rgb(224, 225, 227);
   width:140px;
   text-align: center;
   width:70px;
   word-wrap: break-word;
   
}

.action1{

   /* background-color: #00FF00; */

   /* display: none; */
  
   height: 4vh;
   
   /* border-bottom:2px solid rgb(224, 225, 227); */
   /* width:70.6%; */
   width:28%;
   /* padding: auto; */
   word-wrap: break-word;
  
   margin-right: px;
   
   
}

.action2{
   margin:2px 0px 2px 0px;
   width: 60px;
   height:3.8vh;
   font-size: 10px;
   margin-bottom: 4px;
   
}

.deleted{
   background-color: red;
   border-color: red;

   color: white;
   border-radius: 2px;
   box-shadow: 5px 5px 10px rgb(27, 27, 27);
}

.updated{
   
   /* background-color: #00FF00;
   border-color:  #00FF00; */
   color: white;
   border-radius: 2px;
   box-shadow: 5px 5px 10px rgb(27, 27, 27);
   margin-right:0px;

}

.input_tag{

   font-size: 13px;
}
   
   }

