nav{

    background-color: white;
    opacity:0.9;
    margin: 0px 0px 112px 0px;
    height: 82px;
   
    position:sticky;
    

}


*{
    margin: 0px;
    padding: 0px;
 
    margin-left: 0px;
}
.but{
    background-color:white;
    color:black;
    border-radius: 2px;

    padding:25px 37px 34px 37px;
   
    font-size: 20px;
    
    border-color: white;
    border-width: 0px;;
   

     transition: 0.5s;
}

#delete_but{
    padding-right: 45px;
    margin:0px 0px 0px 387px;
   
}

#appoint{
    margin-left:34px;
}

#view_but{
    padding-right:64px;
    margin-right: 0px;
}
#home_image{
    width:65px;
    height:62px;

    margin-top:3px;
    margin-left:37px;
    margin-bottom:5px;
}




input{
    opacity: 1;

}
input:hover{
    background-color: white;
    opacity:100000000;
}

input:active{
    background-size: 122px;
}
textarea{
    opacity:1;
}

.input_form{
    

    width: 640px;
     margin-left: 310px;
   

    padding: 44px 0px 78px 78px ;
   
    background-color:white;   
  
    opacity: 0.9;
    border-color: black;
    border-radius: 3px;
  
    text-decoration:none;


   
}


#registration{
    background-color:rgb(254, 155, 172);
    width:440px;
    margin-left: 310px;

    
    height:47px;
 


    padding:24px 92px 6px 185px;
    font-size: 27px;
    color:white;
  
    text-decoration: none;
    margin-bottom: 0px;
    

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   
}

input{
    text-align:start;
   
}


.buttons{
    height:45px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin:12px 2px 2px 1px;
     
}   

.button1{
    margin-top:20px;
    margin-left: 45px;
    margin-right:45px;
    border-radius: 2px;
    background-color:rgb(254, 155, 172);
    color:white;
    font-size: 21px;
    border-color:rgb(254, 155, 172);
    border-width: 0px;
    padding:20px 20px 40px 20px;
    transition: 0.5s;
    box-shadow: 5px 5px 6px rgb(27, 27, 27);
}



.button2{
    margin-top:20px;
    margin-left: 145px;
    margin-right:45px;
    border-radius:2px;
    background-color: red;
    color: white;
    font-size:21px;
    border-color: red;
    border-width: 0px;

    padding:20px 20px 40px 20px;
    transition:0.5s;

    box-shadow: 5px 5px 6px rgb(27, 27, 27);
}





input{
    margin:2px 12px 2px 2px;
    padding: 2px 12px 2px 12px;
    width: 422px;
    height:27px;
    border: none;
    border-bottom: 2px solid rgb(254, 155, 172);
    font-size:16px;

}

input:active{

    border-top:none;
    border-right:none;
    border-left:none;

}

input:focus , textarea:focus{
    outline:none;
    
}

textarea{
    border:2px solid rgb(254, 155, 172);
    margin-left: 45px;
}
.text {

    font-size: 21px;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    font-style: none;
    
}



#running_tag{
  
    border:solid;
    background-color:white ;
    color: black;
    margin-left:145px;
    width:565px;
    height:45px;
    border-width: 1px;
    text-shadow: 444px 434px ;
    
    padding-top:24px;
    text-align: centre;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#running_tag:hover{
    background-color: black;
    color: white;
}



button:hover{  
    background-color:black;
    color:white;
    /* font-size: 18px; */
    border: 2px solid;
    border-radius: 3px;
    border-color:rgb(254, 155, 172); 
}
 button:active{ 
    font-size: 18px;
    background-color:rgb(254, 155, 172);
 } 


body{
    
    background-image: url("images/view.jpg");
    background-attachment:fixed;
  
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    z-index: -1px;
    opacity: 15;
}

section{
    display: flex;
    flex-direction: row;
     
}

footer{

    margin-top:147px;
    height: 127px;
  
    opacity:0.9;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    font-size: 45px;
    text-align: centre;
    padding-left:33%;


}


.block{
    padding-left:122px;
}

.user{
    
    background-attachment:fixed;
   background-repeat: no-repeat;
   background-size: cover;
   position:absolute;
   height: 33px;
   width: 33px;
   
}

.img_span{
    
    margin-right:44px;
}


@media  (min-width:960px) and (max-width:1200px)
{
    nav{
        width:fit-content;
    }
}

@media  (min-width:314px) and (max-width:500px)
{
    nav{
        width:100%;
    }

  
    
    
    *{
        margin: 0px;
        padding: 0px;
     
        margin-left: 0px;
    }

 
    
    
    #home_image{
        width:65px;
        height:62px;
    
        margin-top:3px;
        margin-left:37px;
        margin-bottom:5px;
    }

    #delete_but{
        padding-right: 45px;
        margin:4px 0px 0px 0px;
       
    }
    
 
    
    #view_but{
        padding-right:60px;
        margin:4px 0px 0px 0px;
    }
    
    .but{
        background-color:white;
        color:black;
        border-radius: 1.5px;
    
        padding:25px 35px 32px 35px;
       
        font-size: 16px;
        
        border-color: white;
        border-width: 0px;;
    
         transition: 0.5s;
    }
    
    
    input{
        opacity: 1;
    
    }
    input:hover{
        background-color: white;
        opacity:100000000;
    }
    
    input:active{
        background-size: 122px;
    }
    textarea{
        opacity:1;
    }

    .info{
        width:100%
    }
    
    .input_form{
        position: relative;
    
        /* width: 70%;
        margin:0% 6% 4% 6%;
        padding: 44px 0px 78px 78px ;
  
        border-radius: 2px; */
     
        width: 245px;
        /* margin:0px 0px 5px 30px; */
        margin: auto;
        /* padding: 44px 0px 78px 78px ; */
  
        border-radius: 1px;
    
    
       
    }

    body{
        width:100%;
    }
    
    
    #registration{
       
        width: 11.90%;
       
        margin:auto;
    
      
        font-size: 16px;
        border-radius: 1px;

       display: flex;
       justify-content: end;
       align-items: start;
       height: 4vh;
       
    }
    
    input{
        text-align:start;
       
    }

    .img_span{
        
        position: absolute;
        margin-left: -67px;
        
    }

    textarea{
        border:1px solid rgb(254, 155, 172);
        margin-left:-21px;
        width:100%;
        
         border-bottom: 1px solid rgb(254, 155, 172);
         font-size:10px;
    }
    
    
    .buttons{
        height:25px;
        display: flex;
        flex-direction: row;
        font-size: 10px;
        margin:auto;
         
    }   
    
    .button1{
        margin-top:10px;
        margin-left: 12px;
        margin-right:12px;
        border-radius: 2px;
        
        font-size: 10px;
       
        padding:10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 5px 5px 6px rgb(27, 27, 27);
    }
    
    
    
    .button2{
        margin-top:10px;
        margin-left: 44px;
        margin-right:12px;
        border-radius: 2px;
        
        font-size: 10px;
       
        padding:10px 10px 20px 10px;
        transition: 0.5s;
        box-shadow: 5px 5px 6px rgb(27, 27, 27);
    }
    
    
    
    
    
    input{
        /* margin:auto; */
        /* padding: 2px 12px 2px 12px; */
       margin-left:-21px;
       width:90%;
        border: none;
        border-bottom: 1px solid rgb(254, 155, 172);
        font-size:10px;
    
    }
    
   
    
   #running_tag{
    display: none;;
   }
   


    
}






